HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore all socket files
*.sock

# STS
.idea
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore specific directories
mongo-data/
/mysql_keycloak_data/
/postgres/
/postgres-inventory/
/postgres-order/
/grafana/